﻿@{
    ViewData["Title"] = "Irregular Verb Training";
}


<style>
    body, html{
        height: 100%;
    }


    .center-wrap {
        display: flex;  
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #start-training{
        padding: 20px 50px;
    }

</style>
<div class="container h-100">
    <div class="center-wrap  h-100">
        <a id="start-training" href="@Url.Action("Irrverbs")" class="btn btn-outline-danger">Start training</a>
    </div>
</div>