﻿@{
    ViewData["Title"] = "Irregular Verb Training";
}

<style>
    .row-verb {
        align-content: center;
        align-self: center;
        text-align: center;
        font-family: 'Titillium Web', sans-serif, 'Light';
        font-size: 45px;
    }

    .error-message {
        font-family: 'Titillium Web', sans-serif, 'Light';
        font-size: 22px;
        margin-top: 20px;
    }

    .word-span {
        padding-left: 20px;
        padding-right: 20px;
    }

    .word-row {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 200px;
        border-bottom-width: 1px;
        border-bottom-style: dotted;
        border-bottom-color: gray;
    }

    .answer-block {
        display: block;
        margin-top: 20px;
    }

    .btn {
        cursor: pointer;
    }

    .answer-block .btn {
        margin-left: 10px;
        margin-right: 10px;
    }

    .wrong-word {
        color: forestgreen;
        font-weight: 600;
        display: inline;
    }

    .btn-again-training {
        padding: 15px 50px;
        margin: 20px;
    }
</style>


<script>
    $(document).ready(function () {

        var verbs = getVerb();
        var curPos = 0;
        var curIdVerbRow = 0;
        var type;


        function newVerb() {
            var verb = verbs[curPos];

            curIdVerbRow = verb.id;

            type = getRandomInt(0, 3);

            //0 - 1 word hide
            //1 - 2 word hide
            //2 - 3 word hide


            var elementDoc = document.createElement("div");
            elementDoc.classList.add('d-flex');
            elementDoc.classList.add('justify-content-center');
            elementDoc.classList.add('row-verb');
            elementDoc.classList.add('text-center');
            elementDoc.setAttribute('data-type-quest', type);
            elementDoc.setAttribute('data-verb', curPos);


            for (var i = 0; i < verb.irrVerbs.length; i++) {
                var element = verb.irrVerbs[i];

                var elementCol = document.createElement("span");



                //first word
                if (i == 0) {
                    if (type != 0) {
                        elementCol.innerHTML = element.word;
                    }
                }

                //second word
                if (i == 1) {
                    if (type != 1) {
                        elementCol.innerHTML = element.word;
                    }
                }

                //third word
                if (i == 2) {
                    if (type != 2) {
                        elementCol.innerHTML = element.word;
                    }
                }

                if (elementCol.innerHTML == "") {
                    elementCol.innerHTML = "_____";
                    elementCol.classList.add('empty-word');
                }
                else {
                    elementCol.classList.add('filled');
                }

                elementCol.classList.add('word-span');
                elementDoc.append(elementCol);
                if (i != 2) {
                    elementDoc.append(' — ');
                }
            }

            var wordRow = document.createElement("div");
            wordRow.classList.add('word-row');

            wordRow.append(elementDoc);

            var words = createListAnswerButton();

            shuffle(words);


            var answerBlock = document.createElement("div");
            answerBlock.classList.add('answer-block');

            words.forEach(function (item) {
                var buttonDoc = document.createElement("div");

                buttonDoc.classList.add('btn-answer-word');
                buttonDoc.classList.add('btn');
                buttonDoc.classList.add('btn-outline-danger');
                buttonDoc.innerHTML = item


                answerBlock.append(buttonDoc);
            });


            wordRow.append(answerBlock);

            $("#result").append(wordRow);
            curPos++;
        };

        function getRandomInt(min, max) {
            return Math.floor(Math.random() * (max - min)) + min;
        }

        function getFinishBlock() {
            var elementDoc = document.createElement("div");
            elementDoc.classList.add('row');
            elementDoc.classList.add('row-finish');

            var elementCol = document.createElement("div");
            elementCol.classList.add('col-12')
            elementCol.classList.add('text-center');



            var buttonRestart = document.createElement("button");
            buttonRestart.classList.add('btn');
            buttonRestart.classList.add('btn-outline-danger');
            buttonRestart.classList.add('btn-again-training');
            buttonRestart.innerHTML = 'Training again';

            elementCol.append(buttonRestart);

            elementDoc.append(elementCol);

            return elementDoc;
        }

        function createListAnswerButton() {

            let words = new Array();

            var irrverb;

            irrverb = verbs[curPos].irrVerbs[type];

            words.push(irrverb.word);

            var typeWrongWord = getRandomInt(0, 3);

            if (typeWrongWord == 0) {
                words.push(irrverb.wrong1);
                words.push(irrverb.wrong2);
            };
            if (typeWrongWord == 1) {
                words.push(irrverb.wrong1);
                words.push(irrverb.wrong3);
            };
            if (typeWrongWord == 2) {
                words.push(irrverb.wrong2);
                words.push(irrverb.wrong3);
            };

            return words;
        }

        function getVerb() {
            var result = "";

            $.ajax({
                url: '/api/IrregularVerb/get',
                type: 'GET',
                async: false,
                contentType: "application/json",
                success: function (data) {
                    result = data;
                }
            });

            return result;
        };

        function shuffle(array) {
            var currentIndex = array.length, temporaryValue, randomIndex;

            while (0 !== currentIndex) {

                randomIndex = Math.floor(Math.random() * currentIndex);
                currentIndex -= 1;

                temporaryValue = array[currentIndex];
                array[currentIndex] = array[randomIndex];
                array[randomIndex] = temporaryValue;
            }

            return array;
        }


        $(document).on("click", ".btn-again-training", function () {
            $('#result').empty();

            verbs = getVerb();
            curPos = 0;
            curIdVerbRow = 0;

            newVerb();
        });

        $(document).on("click", ".btn-answer-word", function () {
            var result;

            $.ajax({
                url: '/api/IrregularVerb/check',
                data: { vRowId: curIdVerbRow, form: (type + 1), answer: $(this).html() },
                type: 'GET',
                async: false,
                contentType: "application/json",
                success: function (data) {
                    result = data;
                }
            });

            $('.empty-word').text($(this).html());


            if (result == true) {
                $('.empty-word').addClass('right-answer');
            }
            else {
                $('.empty-word').addClass('error-answer');

                {
                    var elementDoc = document.createElement("div");
                    elementDoc.classList.add('error-message');
                    var rightVerbs = verbs[curPos - 1];
                    var text = '';

                    for (var i = 0; i < rightVerbs.irrVerbs.length; i++) {
                        var item = rightVerbs.irrVerbs[i];


                        if (text != '') text += " - ";

                        if (i != type) {
                            text += item.word;
                        }
                        else {
                            text += '<div class="wrong-word">' + item.word + '</div>';
                        }

                    }

                    elementDoc.innerHTML = 'Правильно: ' + text;
                    elementDoc.classList.add('text-center');

                    $(this).parent().parent().append(elementDoc);
                }
            }

            $('.empty-word').removeClass('empty-word');

            $(this).parent().remove();


            if (curPos != verbs.length)
                newVerb();
            else
                $("#result").append(getFinishBlock());
        });

        $(document).on("click", ".word-span.filled", function () {
                var elementDoc = document.createElement("div");
                elementDoc.classList.add('info-translate');
                elementDoc.classList.add('shadow');

                elementDoc.innerHTML = verbs[$(this).parent().attr('data-verb')].irrVerbs[0].word + ' - ' + verbs[$(this).parent().attr('data-verb')].translate.toLowerCase();

                $(this).append(elementDoc);
        });

        newVerb();


        $(document).mouseup(function (e) {
            var container = $(".info-translate");

            if (container.has(e.target).length === 0) {
                container.remove();
            }
        });
    });
</script>
<style>
    .info-translate {
        border-radius: 8px;
        position: absolute;
        width: 250px;
        height: 80px;
        text-align: center;
        vertical-align: middle;
        line-height: 80px;
        background-color: white;
        left: 50%;
        transform: translateX(-50%);
        cursor: initial;
        font-size: 21px;
    }

    .filled {
        position: relative;
        cursor: pointer;
    }

    .right-answer {
        color: forestgreen;
        font-weight: 600;
    }

    .error-answer {
        color: red;
        font-weight: 600;
    }
</style>
<div class="container">
    <div id="result" class="result">

    </div>
</div>
