﻿<style>
    .header {
        height: 50px;
        background-color: #ccc;
        line-height: 50px;
    }

    .left-block
    {
        float:left;
    }

    .right-block{
        float: right;
    }
</style>

<div class="header">
    <div class="container">
        <div class="left-block">
            <a class="mr-4" href="@Url.Action("Index", "Home")">Main page</a>
        </div>
        <div class="right-block">
            @if (!User.Identity.IsAuthenticated)
            {
                <a class="mr-2 btn btn-outline-success" href="@Url.Action("Login", "Account")">Login</a>
                <a class="btn btn-outline-info" href="@Url.Action("Register", "Account")">Register</a>
            }
            else
            {
                
                <p class="d-inline mr-4">You are loggined: @User.Identity.Name</p>
                <form class="d-inline" method="post" asp-controller="Account" asp-action="LogOff">
                    <input class="btn btn-outline-danger" type="submit" value="Logout" />
                </form>
            }
        </div>
    </div>
</div>