﻿@model English.Data.ViewModels.RegisterViewModel

    <style>
        .field-validation-error {
            color: red;
        }
    </style>

<div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-6">
            <form method="post" asp-controller="Account" asp-action="Register" class="mb-5">
                <h2 class="mb-5 text-center">Регистрация нового пользователя</h2>
                <div asp-validation-summary="ModelOnly"></div>
                <div class="form-group">
                    <label>User name:</label>
                    <input asp-for="UserName" class="form-control" />
                    <span asp-validation-for="UserName"></span>
                </div>
                <div class="form-group">
                    <label>E-mail:</label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email"></span>
                </div>
                <div class="form-group">
                    <label>Password:</label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password"></span>
                </div>
                <div class="form-group">
                    <label>Password confirm:</label>
                    <input asp-for="PasswordConfirm" class="form-control" />
                    <span asp-validation-for="PasswordConfirm"></span>
                </div>
                <input type="submit" class="mt-4 btn btn-block btn-outline-primary " value="Регистрация" />
            </form>
        </div>
    </div>
</div>